@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Eater&display=swap');

.mbz-content {
  background-color: white;
}

.mbz-title {
  color: #fff436;
  font-family: Bangers, "Open Sans", sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.mbz-subtitle {
  color: black;
  font-family: Eater, fantasy;
}

.mbz-character {
  max-height: 300px;
}